body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    position: absolute;
    font-size: 4rem;
    top: 300px;
    float: right;
}

h1, figcaption {
    color: #fff;
    margin-left: 20px;
}

figcaption{
    position: absolute;
    font-size: 2rem;
    top: 450px;
    
}

figure{
    margin: 0;
    position: relative;
    display: flex;
}

#banner-img{
    width: 100%;
    height: 100vh;
    
}

label{
    font-size: 2rem;
    
}

.gallery img{
    height: 250px;
    width: 250px;
}

.container{
    display: grid;
    grid-template-columns: 500px;
    grid-template-rows: 1fr 1fr;
}

.gallery{
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    grid-template-rows: repeat(3,minmax(250px, 1fr));
    grid-gap: 20px;
}