body{
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr 1fr;
    grid-template-areas:
        "header"
        "container";
    
}

header{
    grid-area: header;
}

main{
    grid-area: container;
    margin: 0 auto;
}

h1{
    position: absolute;
    font-size: 4rem;
    top: 15rem;
    float: right;
}

h1, p {
    color: #fff; 
    margin-left: 20px;
}
p{
    position: absolute; 
    font-size: 2rem;
    top: 25rem;
    
}

.banner-container{
    margin: 0; 
    position: relative; 
    display: flex; 
}

#banner-img{
    width: 100%;
    height: 100vh;
    
}

#search{
    margin: auto;
    flex-basis: 60%;
    padding: 15px;
}

input[placeholder]{
    font-style: italic;
}

.search-bar{
    display: flex;
    margin: 3rem;
}

input[type="search"],label{
    flex-basis: 33%;
}

.gallery img{
    height: 250px;
    width: 250px;
}


.gallery{
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-template-rows: repeat(auto-fill, 250px);
    grid-gap: 20px;
    margin-bottom: 3rem;
}

